body {
    margin: 0;
    background-color: #0d0106; /* Deep dark background */
    color: white;
    font-family: 'serif';
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page {
    position: absolute;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
    pointer-events: none;
    width: 90%;
}

.page.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.glow-text {
    font-size: 3rem;
    color: #ff4d6d;
    text-shadow: 0 0 15px rgba(255, 77, 109, 0.7);
    margin-bottom: 10px;
}

button {
    background: transparent;
    border: 2px solid #ff4d6d;
    color: #ff4d6d;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background: #ff4d6d;
    color: white;
    box-shadow: 0 0 20px #ff4d6d;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 77, 109, 0.3);
}
.heart {
    position: fixed;
    bottom: -10px;
    font-size: 20px;
    color: #ff4d6d;
    user-select: none;
    pointer-events: none;
    animation: moveUp linear forwards;
    z-index: -1;
}

@keyframes moveUp {
    to {
        transform: translateY(-105vh) rotate(360deg);
        opacity: 0;
    }
}
